@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Montserrat:wght@200;300;600&family=Raleway:wght@700&display=swap');

/*-

font-family: 'Knewave', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

--*/
body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: medium;
}

header {
  margin-bottom: 20px;
}

nav {
    width: 100%;
    height: 250px;

    background: url(../images/berries6.jpg);
    background-size: 100%;

    background-repeat: no-repeat;
    object-fit: scale-down;
    min-height: 10vh;
}

#logo {
    height: 30vh;
    width: 30vh;
    top: 30px;
    left: 100px;
    border-radius: 50%;
    position: relative; 
}

.nav-menu-mine{
    margin: 100px;
    background-color: black;
    border-radius: 25px; 
}

.menu-bar-mobile {
    border-radius: 50%;
    margin: 100px;
    padding-top: 3px;
    padding-right: 20px;
}

.flash-msg {
    line-height: 2!important;
    margin: 1px;
    border-radius: 25px;
}

/*-------------------------register.html-------------------------------------------------*/

    /* label color */
    .input-field label {
      color: #000;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label,
    .input-field input[type=password]:focus + label,
    .input-field input[type=email]:focus + label {
      color: #880e4f !important;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus,
    .input-field input[type=password]:focus,
    .input-field input[type=email]:focus {
      border-bottom: 1px solid#880e4f !important;
      box-shadow: 0 1px 0 0 #880e4f !important;
    }
    /* valid color */
    .input-field input[type=text].valid,
    .input-field input[type=password].valid,
    .input-field input[type=email].valid {
      border-bottom: 1px solid #880e4f !important;
      box-shadow: 0 1px 0 0 #880e4f !important;
    }
    /* invalid color */
    .input-field input[type=text].invalid,
    .input-field input[type=password].invalid,
    .input-field input[type=email].invalid {
      border-bottom: 1px solid #ff5252 !important;
      box-shadow: 0 1px 0 0 #ff5252 !important;
    }
    /* icon prefix focus color */
    .input-field .prefix.active {
      color: #880e4f !important;
    }

    .btn-register {
      border-radius: 25px;
    }


/*-------------------------MEDIA QUERIES-------------------------------------------------*/

@media(max-width: 555px) {
    #logo {
        height: 20vh;
        width: 20vh;
        top: 6vh;
        left: 3vh;
    }

    nav {
        height: 23vh;
    }

    .nav-wrapper {
        height: 22vh!important;
    }
    }