@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Montserrat:wght@200;300;600&family=Raleway:wght@700&display=swap');

/*-

font-family: 'Knewave', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

--*/
body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: medium;
}

strong {
  font-weight: 800;
}

header {
  margin-bottom: 20px;
}

nav {
    width: 100%;
    height: 250px;

    background: url(../images/berries6.jpg);
    background-size: 100%;

    background-repeat: no-repeat;
    object-fit: scale-down;
    min-height: 10vh;
}

#logo {
    height: 30vh;
    width: 30vh;
    top: 30px;
    left: 100px;
    border-radius: 50%;
    position: relative; 
}

.nav-menu-mine{
    margin: 100px;
    background-color: black;
    border-radius: 25px; 
}

.lower-li {
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}

.menu-bar-mobile {
    border-radius: 50%;
    margin: 100px;
    padding-top: 3px;
    padding-right: 20px;
}

.flash-msg {
    line-height: 2!important;
    margin: 1px;
    border-radius: 25px;
}

.purple-cont {
  height: 320px;
}

.purple-par-text {
  padding-top: 50px;
}

.btn-get-started {
  margin-top: 15px;
  border-radius: 25px;
}

.parallax-container {
  height: 320px;
}

.img-fruits-baskets {
  height: 320px;
  width: 100vw;
  background: url(../images/baskets.png) center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-overflow-scrolling: touch;

    display: flex;
    position: relative;
}


/*-------------------------footer-------------------------------------------------*/
footer {
  margin-bottom: 0px;
}

.footer-icon {
  margin: 4px;
  display:inline;
}

.push-down-footer {
  height: 42vh;
}

/*-------------------------register.html-------------------------------------------------*/
.lower-from-logo {
  margin-top: 40px;
}

 /* Change Materialize colors of forms ---- from Materialize.com */

    /* label color */
    .input-field label {
      color: #000;
    }
    /* label focus color*/
    .input-field input[type=text]:focus + label,
    .input-field input[type=password]:focus + label,
    .input-field input[type=email]:focus + label {
      color: #880e4f !important;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus,
    .input-field input[type=password]:focus,
    .input-field input[type=number]:focus,
    .input-field input[type=email]:focus {
      border-bottom: 1px solid#880e4f !important;
      box-shadow: 0 1px 0 0 #880e4f !important;
    }
    /* valid color */
    .input-field input[type=text].valid,
    .input-field input[type=password].valid,
    .input-field input[type=email].valid {
      border-bottom: 1px solid #880e4f !important;
      box-shadow: 0 1px 0 0 #880e4f !important;
    }
    /* invalid color */
    .input-field input[type=text].invalid,
    .input-field input[type=password].invalid,
    .input-field input[type=email].invalid {
      border-bottom: 1px solid #ff5252 !important;
      box-shadow: 0 1px 0 0 #ff5252 !important;
    }
    /* icon prefix focus color */
    .input-field .prefix.active {
      color: #880e4f !important;
    }

    .btn-register {
      border-radius: 25px;
    }

/*-------------------------signin.html-------------------------------------------------*/
    .btn-enter {
      border-radius: 25px;
    }


/*-------------------------profile.html-------------------------------------------------*/

    .profile-icon-card {
      border-radius: 25px;
    }

    .profile-icon {
      padding: 4px;
    }

    .offer-card {
      margin: 30px;
    
      min-height: 150%;
    }
    
/*-------------------------offers.html-------------------------------------------------*/

.btn-action-src-offer {
line-height: 36px!important;
}

.search-area {
  border-radius: 25px;
  background-color: #e0e0e0;
  min-width: 200px;
}

.cards-padding {
  padding: 0!important;
}

.card-action-style {
  margin-top: 0!important;
  padding-bottom: 0!important;
  padding-top: 0!important;

}

.content-card-padding {
  padding: 0!important;
}

.card-title-padding {
  padding: 16px!important;
}

.offer-image {
  position: relative;
}

.offer-free {
  position: relative;
  margin-top: -100px;
}

.button-free {
  z-index: 100!important;
  position: relative;
}

.icon-free {
  font-size: 1.5rem!important;
}

.btns-edit {
  margin-top: -25px;
}

/*-------------------------get_categories.html-------------------------------------------------*/

.card-categories {
  border-radius: 25px;
  margin: 10px;
}

.categories-single-line {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  border-radius: 25%;
}

.categories-underline {
  text-decoration: underline;
  text-decoration-color:#e0e0e0;
}

.img-categories {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  margin-top: -25px;
  margin: 30px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  overflow: hidden;
  shape-outside: circle();
  float: left;
}

.icons-edit-cat {
  padding: 0!important;
}


.report-card {
  padding: 20px!important;
}

.cards-reports {
  border-radius: 25px!important;
}

.btn-contact-farmer {
  padding: 0;
  margin-left: 10px!important;
  border-radius: 25px;
}


/*-------------------------MEDIA QUERIES-------------------------------------------------*/
@media only screen and (min-width: 550px) {
.my-par {
    width: 100%!important;
}
}


@media(max-width: 555px) {
    #logo {
        height: 20vh;
        width: 20vh;
        top: 6vh;
        left: 3vh;
    }

    nav {
        height: 23vh;
    }

    .nav-wrapper {
        height: 22vh!important;
    }
    }