{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
       <div class="card-panel flash-msg">
          <h5 class="pink-text center">Opps, something went wrong.</h5>
          <h6 class="center">The page you were looking for was not found.</h6>
       </div>
       <a href="{{ url_for('offers') }}" class="offset-m5 col s2 modal-close waves-effect waves-green btn btn-register indigo">OK</a>
    </div>
 </div>
 <div class="push-down-footer"></div>

{% endblock %}