{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row lower-from-logo">
    <div class="">
      <h5 class="center">Message Farmer</h5>
      
    </div>
  </div>


<!--message cards-->

<div class="container">
  <form action="{{ url_for('add_message') }}" method="POST">
  <div class="card cards-reports cards-padding report-card">
    <div class="card-content white-text">
      
  
        <div class="input-field input-purple-underline col s10">
           <input 
              id="message_content" name="message_content" type="text" class="validate" minlength="3" maxlength="300" required>
        </input>
           <label for="message_content">Message to Farmer</label>
        </div>
        
    </div>
  </div>


  <div class="">
    <a href="{{ url_for('reports') }}" class="btn col s3 waves-effect waves-light indigo btn-register">Cancel</a>
    <button class="btn offset-m3 col s3 waves-effect waves-light teal right btn-register" 
    type="submit">Send Message</button>
  </div>
  </form>

</div>

<div class="push-down-footer-sm"></div>

{% endblock %}
