<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Berries Nearby</title>
</head>

<body>
    {% for advertisement in advertisements %}
        {{ advertisement.fruit_category_name }}<br>
        {{ advertisement.location }}<br>
        {{ advertisement.date_pick_up }}<br>
        {{ advertisement.time }}<br>
        {{ advertisement.description }}<br>
        {{ advertisement.equipment }}<br>
        {{ advertisement.contact }}<br>
        {{ advertisement.price }}<br>
    {% endfor %}
  
  
 
  </body>
  </html>