{% extends "base.html" %}
{% block content %}



<div class="row lower-from-logo">
    <div class="offset-s2 col s8">
      <h5 class="center">Edit Categories</h5>
    </div>
  </div> 

<div class="container">
<div class="row">
  <div class="">
    <div class="">
      
      <div class="img-categories center" alt=""></div>
        {% for category in categories %}
        <div class="">
         <h6 class="chip card-categories">{{ category.category_fruits }}
         <span>
          <a href=""class="waves-effect waves-grey white btn-flat transparent tooltipped" data-position="bottom" data-tooltip="Delete"><i class="material-icons red-text">clear</i></a>
          <a href="" class="waves-effect waves-grey white btn-flat transparent tooltipped" data-position="bottom" data-tooltip="Edit"><i class="material-icons indigo-text">edit</i></a>
          </span> 
        </h6>
      </div>
        {% endfor %}
    
    </div>
  </div>
</div>
</div>




{% endblock %}