{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row lower-from-logo">
    <div class="col s8">
      <h5 class="center">Edit Categories</h5>
    </div>
  </div> 
 
  <section>
    <div class="img-categories center" alt="">
    </div>

  
  <div class="">
    {% for category in categories %}
    <div class="waves-effect waves-light btn-large card-categories grey lighten-3">
      <h6 class="black-text">{{ category.category_fruits }}
      
        <a href=""class="waves-effect waves-grey white btn-flat transparent tooltipped" 
          data-position="bottom" data-tooltip="Delete"><i class="material-icons red-text icons-edit-cat">clear</i></a>
        <a href="" class="waves-effect waves-grey white btn-flat transparent tooltipped" 
          data-position="bottom" data-tooltip="Edit"><i class="material-icons indigo-text icons-edit-cat">edit</i></a>
      
    </h6>
  </div>
 
  {% endfor %}  
  
    <a href="{{ url_for('add_category') }}" class="btn btn-large col s4 waves-effect waves-light card-categories pink darken-4" 
         type="submit" name="">Add a New Category</a>
  
  </div>
  
</section>
</div>

{% endblock %}