{% extends "base.html" %}
{% block content %}

    {% for offer in offers %}
        {{ offer.fruit_category }}<br>
        {{ offer.location }}<br>
        {{ offer.date_of_pick_up }}<br>
        {{ offer.time }}<br>
        {{ offer.description }}<br>
        {{ offer.equipment }}<br>
        {{ offer.contact }}<br>
        {{ offer.price }}<br>
        
    {% endfor %}



<section class="offer-cards-all container">  
  
    <div class="row">
      <div class="card col m3 offer-card">
        {% for offer in offers %}
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"> {{ offer.fruit_category }}<i class="material-icons right">more_vert</i></span>
          <p>{{ offer.location }}</p>
          <p>{{ offer.date_of_pick_up }}</p>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ offer.location }}<br>{{ offer.date_of_pick_up }}
            <i class="material-icons right">close</i></span>
          <p>{{ offer.time }}<br>
            {{ offer.description }}<br>
            Equipment: {{ offer.equipment }}<br>
            Contact: {{ offer.contact }}<br>
            Price:  {{ offer.price }}<br>
          </p>
        </div>
        {% endfor %}
      </div>
  
  
  </section>
  
  
{% endblock %}