{% extends "base.html" %}
{% block content %}

<!--user name tag-->
<div class="container">  
  <div class="row">
    <div class="right">
      <div class="chip right">
        <i class="material-icons right profile-icon">account_circle</i>
        {{ email }}
      </div>
    </div>
  </div>
</div>


<!--offers - cards -->

<section class="offer-cards-all container">  
  
  <div class="row">
    <div class="card col m3 offer-card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

    <div class="card col m3 offer-card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>  
    
    <div class="card col m3 offer-card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div> 
    
  </div> 

  <div class="row">
    <div class="card col m3 offer-card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

    <div class="card col m3 offer-card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>  
    
    <div class="card col m3 offer-card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div> 
    
  </div>
    



</section>




<!--


<div class="row lower-from-logo">
  <div class="offset-m2 col s9">
    

    

    </div>


    <div class="card card-offer">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/office.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
 




    
</div>
  
-->

{% endblock %}
